<footer>
    <div class="footer1-footer2-container" style="display: flex; justify-content: space-between; width: 22%;">
        <div class="footer-1">
            <p>{{"deserts-footer" | translate}}</p>
            <p>{{"sets-footer" | translate}}</p>
            <p>{{"rols-footer" | translate}}</p>
            <p>ASIAN POKE</p>
            <p>ASIAN WOK</p>
            <p>{{"ramen-footer" | translate}}</p>
        </div>
    
        <div class="footer-2">
            <p>{{"oferta-footer" | translate}}</p>
            <p>{{"contacts-footer" | translate}}</p>
            <p>{{"about-us-footer" | translate}}</p>
            <p>{{"delivery-footer" | translate}}</p>
        </div>
    </div>
   

    <div class="footer-3">
        <div class="top">
            <div class="location-container">
                <img class="top-svg" src="/assets/images/test.svg" alt="">
                <img class="arrow-down" src="/assets/images/arrow-down.svg" alt="">
            </div>
            <!--  -->
            <p class="address"> <span class="city">м. Львів</span> <br>
                ТРЦ Victoria Gardens, Кульпарківська 226 А <br>
                ТРЦ Spartak, Мазепи 1Б <br>
                Староєврейська 4 <br>
                Крива Липа 8 <br>
                <span class="city"> с. Сокільники</span> <br>
                ТРЦ King Cross, Стрийська 30</p>
            <p></p>

            <p>
        </div>
    </div>

    <div class="footer-4">
        <div class="top">
            <div class="phone">
                <img class="top-svg" src="/assets/images/test.svg" alt="">
                <img class="phone-icon" src="/assets/images/phone.svg" alt="">
            </div>
            <p class="phone-number">+38 (067) 792 90 90</p>
        </div>
        <div class="bottom">
            <div class="clock">
                <div class="left">
                    <img class="top-svg" src="/assets/images/test.svg" alt="">
                    <img class="clock-icon" src="/assets/images/clock.svg" alt="">
                </div>
                <div class="right">
                    <p>{{"work-time" | translate}}</p>
                    <p>{{"from" | translate}} <span class="from">10:00</span> {{"to" | translate}} <span class="to">22:55</span></p>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-5">
        <div class="left">
            <p>{{"follow-us" | translate}}</p>
        </div>
        <div class="right">
            <div class="facebook">
                <img src="/assets/images/facebook-circle.svg" alt="">
                <img class="facebook-icon" src="/assets/images/facebook-icon.svg" alt="">
            </div>

            <div class="instagram">
                <img src="/assets/images/instagram-circle.svg" alt="">
                <img class="instagram-icon" src="/assets/images/instagram-icon.svg" alt="">
            </div>
        </div>
    </div>
</footer>