footer {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Varela Round', sans-serif !important;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;

  .footer-1 {
    p {
      margin-bottom: 30px;
    }
  }

  .footer-2 {

    p {
      margin-bottom: 30px;
      color: #6D6D6D;
    }
  }

  .footer-3 {
    .top {
      display: flex;

      .address {
        margin-left: 20px;
        line-height: 20px;
        color: #2D2C2C;
        line-height: 25px;

        .city {
          font-weight: 600;
        }
      }

      .top-svg {
        width: 47px;
        height: 47px;
      }

      .location-container {
        position: relative;
      }

      .arrow-down {
        position: absolute;
        left: 18px;
        top: 14px;
      }
    }
  }

  .footer-4 {
    .top {
      display: flex;

      .phone {
        position: relative;

        .phone-icon {
          position: absolute;
          top: 12px;
          left: 17px;
        }
      }

      .phone-number {
        margin-top: 14px;
        margin-left: 10px;
        font-weight: 500;
      }

    }

    .bottom {
      .clock {
        display: flex;
        margin-top: 10px;
        position: relative;

        .clock-icon {
          top: 13px;
          left: 15px;
          position: absolute;
        }
      }

      .right {
        padding-top: 5px;
        margin-left: 10px;
        line-height: 20px;
        font-weight: 400;
        color: #6D6D6D;

        .from {
          color: #2D2C2C;
          font-weight: 600;

        }

        .to {
          color: #2D2C2C;
          font-weight: 600;
        }
      }
    }
  }

  .footer-5 {
    display: flex;

    .facebook {
      position: relative;

      .facebook-icon {
        top: 15px;
        left: 20px;
        position: absolute;
      }
    }

    .left {
      font-weight: 500;
      padding-top: 15px;
    }

    .right {
      margin-left: 10px;
      display: flex;
    }

    .instagram {
      position: relative;
      margin-left: 10px;

      .instagram-icon {
        top: 15px;
        left: 16px;
        position: absolute;
      }
    }


  }
}


@media screen and (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;

    .footer-1 {
      float: left;
    }

    .footer-2 {
      float: left;
    }
  }

  .footer1-footer2-container {
    width: 100% !important;
  }
}